<div class="container">
  <div class="row">
    <div class="col-sm-12">

     <button (click)="signInWithFB()" class="btn btn-primary">Login Facebook</button>

   </div>
  </div>
</div>
<div id="fb-root"></div>

<div class="fb-post d-block" data-href="https://www.facebook.com/stellum925/posts/pfbid07oVbntzbhFGN9NsJDXjqf7NwVcScorbFeQNY76DD3QHAhmg2w5GiDLrWCjrxWFrnl" data-width="500" data-show-text="true"><blockquote cite="https://www.facebook.com/stellum925/posts/148013420896829" class="fb-xfbml-parse-ignore"><p>✨SALE✨</p>Publicado por <a href="https://facebook.com/stellum925">Stellum</a> en&nbsp;<a href="https://www.facebook.com/stellum925/posts/148013420896829">Jueves, 9 de diciembre de 2021</a></blockquote></div>

<div class="fb-comments d-block" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-width="500" data-numposts="20"></div>